@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F7F5F0;
    --foreground: #1e293b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.timeline-bg {
  background-image: linear-gradient(to bottom, transparent 95%, rgba(0,0,0,0.05) 95%);
  background-size: 100% 64px;
}
